# Temporary files
__pycache__
pk_cpp/
*.log

# Build files
*.egg-info
build
dist
*.bin
.internal/

pykokkos-base/

# Profiling and log data
logs.*
*.log
*.prof
kernel_profile.json

# Out files 
*.o
*.out

examples/*.json

# setup time generated data
pkdb/core/debugger_paths.py
